.emacs.desktop.lock
ac-comphist.dat
auto-save-list/
emacs-desktop
power-macros
savehist
saves/
tutorial/
smex-items
tramp
*exec-abbrev-cmd.el
server/
*~
*.elc
*.pyc
emacs-desktop-24
eshell/
ido.last
places
recentf
telstra.el
url/
var/