[user]
	name = Sawan Vithlani
	email = Sawan.Vithlani@medibankhealth.com.au

[diff]
    tool = meld

[merge]
    tool = meld

[alias]
    co = checkout
    cob = checkout -b
    st = status
    stat = status
    dt = difftool -y
    mt = mergetool
    lo = log --oneline --decorate
    call = commit -a -m
    fall = fetch --all
    fb = ! git branch -a | ack-grep
    mas = checkout master
    commit-reuse = commit -a --reuse-message=HEAD
    commit-all = commit -a -m
    sdiff = diff --ignore-all-space --name-status -C -M
    stash-p = stash pop
    stash-s = stash save
    stash-l = stash list
    mpl = ! git checkout master && git pull origin master
    mpu = ! git checkout master && git push origin master
    mpl-b = ! ~/bin/git-maspull-back.sh
    mdiff = ! git sdiff master...
    tmdiff = diff master...
    gmdiff = difftool -y master...
    show-mdiff = ! git mdiff | sed -e 's/^[ADM][\t]//'| git dt master...

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green bold
    untracked = cyan
